/* lvl 2 */
.items div {
  border: 3px solid black ;
}
  
.items {
  /*text-align: center;*/
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sectionHeader{
  text-align: center;
}

/* lvl 3 */
.item {
  display: inline-block;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  padding: 10px; 
  border-radius: 12px;
}








/*
**Part 1: Align the clothing items horizontally**
  - [x] Align the clothing items horizontally on the page

    - [x] Change the [display](https://www.w3schools.com/Css/css_display_visibility.asp) CSS property on the clothing item dividers (divs) to 
          '[inline-block](https://www.w3schools.com/Css/css_inline-block.asp)' to allow them to render without line-breaks.

      - [x] Create a style-block in the stylesheet ([index.css](./index.css)) that targets the .item class and set the value of the  
            'display' property to be 'inline-block'

**Part 2: Space-out and center the clothing items**
  - [x] Create some space between the clothing items so they arent so close together.

    - [x] Configure [the stylesheet](./index.css) to apply a 3% margin on the left-side and right-side of all elements with the .item class
  
  - [x] Space the clothing items evenly across the screen.
    
    - [x] Change the container elements for the clothing items into flexboxes and set the content to be centered

      - [x] Configure [the stylesheet](./index.css) to apply a 3% margin on the left-side and right-side of all elements with the .item class


**Part 3: Center the item descriptions and category headers**
  - [x] Center the category headers of Shirts, Pants and Shoes to the middle of the page.

    - [x] Configure [the stylesheet](./index.css) to center all text within the elements containing the headers for the categories.

      - [x] Create a style-block in the stylesheet ([index.css](./index.css)) that targets all the elements 
            containing the headers for the categories and set the value of the 'text-align' property to be 'center'
  
  - [x] Center the item descriptions for each of the clothing items. DO NOT USE INLINE CSS

    - [x] You got this! 😊 (Hint: Consider adding a class definition to the HTML elements that contain the text for the descriptions)



**Part 4: Add padding to the item containers, Round the borders of item containers** 
  - [x] Add some internal padding to all the elements that contain the item image and description
    - [x] Configure [the stylesheet](./index.css) to apply a 10px padding to all of the elements with the .item class
  
  - [x] Round the corners of the borders for the item containers
    - [x] Configure [the stylesheet](./index.css) to apply a border-radius of 12px to all of the elements with the .item class
*/